.container-fluid{
    min-height: 92vh;
    transition: all 0.5s;
}
#background{
    background: #4f0000;
    color: white;
}
.box{
    background: white;
    padding: 50px;
    border-radius: 40px;
    margin: 20px;
    box-shadow: inset 0px 0px 20px 5px #b1b1b1;
}
.color-name{
    border-radius: 20px;
    padding: 20px;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bolder;
    font-size: 50px;
}
#button{
    background: black;
    color: white;
}

@media (max-width:870px) {
    .color-name{
        font-size: 40px;
    }
}
@media (max-width:450px) {
    .box{
    padding: 50px 0px 50px 0px;
    margin: 20px;
    }
    .color-name{
        font-size: 20px;
    }
}